<h1> My Profile </h1>

<div class = "profile">
    <table>
        <tr>
        <td><h3>Full Name:</h3></td>
        <td><%= @profile.full_name %></td>
        </tr>

        <tr>
        <td><h3>Gender:</h3></td>
        <td><%= @profile.gender %></td>
        </tr>

        <tr>
        <td><h3>Address:</h3></td>
        <td><%= @profile.address %></td>
        </tr>

        <tr>
        <td><h3>Contact Number:</h3></td>
        <td><%= @profile.contact_no %></td>
        </tr>

        <tr>
        <td><h3>My Bio:</h3></td>
        <td><%= @profile.bio %></td>
        </tr>
    </table>

    <div>
        <%= link_to "Edit My Profile", edit_profile_path(@profile) %> 
    </div>
</div>